/* Home.css */
.container{
    height: 100%;
    display: flex;
    justify-content: center;
}
.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}
.movies{
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    /* columns 열(2) / fr : fractional unit 사용가능한 공간에 대한 비율 */
    grid-gap: 100px;
    padding: 50px;
    width: 80%; /* 부모를 기준으로 */
    padding-top: 70px;
}

@media screen and (max-width: 768px) { /* Mobile크기 0~769 */
    .movies{
        grid-template-columns: 1fr;
        width: 100%;
    }
}